.header img{
    width: 140px;
    margin-left: 180px;
    padding-top: 20px;
    
    
}

.header{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px #eee;
}

.header .buttons{
display: flex;
margin-right: 100px;
opacity: 0.7;
}

.buttons :hover{
   color: blue;
}

.product{
    padding: 20px;
    cursor: pointer;
}

.Signup{
    padding: 20px;
    cursor: pointer;
}
.pricing{
    padding: 20px;
    cursor: pointer;
}
.About{
    padding: 20px;
    cursor: pointer;
}
.Support{
    padding: 20px;
    cursor: pointer;
}

.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;

}

.font{
    font-size: 30px;
    opacity: 0.7;
}

.paragraph{
    font-size: 20px;
}

.button {
    color: white;
    border-radius: 3px;
    background-color: #387ed1;
    border: 1px solid rgb(0, 0, 0, 0);
    cursor: pointer;
    padding-top: 13px;
    padding-right: 46px;
    padding-bottom: 13px;
    padding-left: 41px;
    text-decoration: none;
    font-size: 20px;
}

.button:hover{
    background-color: black;
}

